body{
    background-color: hsl(203, 41%, 72%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 50px;
    width: 100%;
}

nav{
    display: flex;
    margin: 0px;
    align-items: center;
}
h1{
    margin-right: auto;
    word-wrap: ;
    margin-left: 1px;
    margin-left: 0px;
}
a{
    color:hsl(200, 24%, 40%) ;
    margin-left: auto;
}
#all{
    background-color: white;
    display: flex;
    width: 50%;
    margin: auto;
    border-radius: 10px 30px 30px 24px;
}
#myTerm , #myRate , #myText{
    font-size: 1em;
    border-radius: 7px;
}
input{
    padding: 12px;
    width: fit-content;
    margin-top: 10px;
}
#div1{
    padding: 20px;
    flex: 0.5;
    background-color: white;
}
label{
    color: hsl(200, 24%, 40%)
}
input.mytext{
    width: 100%;
}
#mortgageTypes{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.repayments , .repaymentss{
    border: 1px solid hsl(200, 24%, 40%);
    padding: 5px;
    border-radius: 7px;
}
.repayments:hover{
    background-color: hsl(202, 86%, 94%);
}
.repaymentss:hover{
    background-color: hsl(202, 86%, 94%);
}
#div2{
    background-color: hsl(202, 55%, 16%);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 0px 30px 30px 70px;
    flex: 0.5;
}
#mortgage{
    display: flex;
    margin: 15px 0px;
    gap: 10px;
}
#mTerm{
    display: flex;
    flex-direction: column;
}
iRate{
     display: flex;
    flex-direction: column;
}
#repayment , #interestOnly ,#repaymentL , #interestOnlyL{
    cursor: pointer;
}
#calculator{
    height: 300px;
}
h2,p{
    color: white;
    text-align: center;
}
h2{
    font-size: 1em;
    text-align: center;
}
#submit{
  margin-left: 130px;
  margin-top: 15px;
  padding: 8px 20px;
  border-radius: 50px;
  background-color: hsl(61, 70%, 52%);
  cursor: pointer;
}#submit:hover{
    background-color: hsl(61, 70%, 42%);
}
.attribution{
    text-align: center;
}